<mat-toolbar class="flex justify-center bg-gradient h-20">
  <div class="max-w-screen-xl w-full ml-4 mr-4 flex">
    <span class="mat-subheading-2 m-0 leading-loose">tokenbazaar</span>
    <span class="spacer"></span>
    <button mat-flat-button class="ml-4 mr-4">
      <mat-icon svgIcon="question-mark" class="m-2.5"></mat-icon>History
    </button>
    <button mat-flat-button class="ml-4 mr-4">
      <mat-icon svgIcon="question-mark" class="m-2.5"></mat-icon>FAQ
    </button>
    <button mat-flat-button class="bg-gradient ml-20">
      <mat-icon svgIcon="world" class="m-2.5"></mat-icon>Connect
    </button>
  </div>
</mat-toolbar>
