<div class="flex justify-center">
  <div class="bg-glass-effect-color justify-items-center w-full max-w-screen-xl mt-6 mb-6 flex justify-around h-40 items-center rounded-2xl ml-8 mr-8">
    <div>
      <h1 class="mat-h1 m-0 mb-2">$120.3B</h1>
      <p class="mat-body-2 m-0 text-center">Total Market Size</p>
    </div>
    <div>
      <h1 class="mat-h1 m-0 mb-2">$120.3B</h1>
      <p class="mat-body-2 m-0 text-center">Total available</p>
    </div>
    <div>
      <h1 class="mat-h1 m-0 mb-2">$120.3B</h1>
      <p class="mat-body-2 m-0 text-center">Total Borrows</p>
    </div>
  </div>
</div>
